.phone-auth-otp-main-caontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.phone-auth-code-enter-main-container{
    background-color: #f8f8f8;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.two-step-otp{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
}

.optp-digi-prompt{
    margin-top: 20px;
}

.input-optp-enter-digits{
    border: gray 1px solid !important;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    border-radius: 5px !important;
    border-bottom-color: gray !important;
}

.another-optp-button-submit{
    width: 40vw;
    margin-bottom: 30px;
}


@media screen and (min-width: 480px) {
  
.phone-auth-code-enter-main-container{
    width: 30vw;
    margin-left: 35vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.another-optp-button-submit{
    width: 10vw;
}

}