.footer-main-continer{
    margin: 0 !important;
}
.logo-footer-text{
    color: white;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin-0 {
    margin: 0;
}

.link{
    padding-bottom: 40px;
    color: white;
    font-size: 19px;
    cursor: pointer;
}